<footer class="px-4 py-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 d-flex justify-content-center">
            <div class="wrapper d-flex align-items-center">
                <p class="text-light text-center mb-0">
                    Designed and Developed<br>
                    by <a class="text-light" href="https://www.oliverwebdevelopment.com/"><u>Oliver Web Development</u></a>
                </p>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center">
            <p class="text-center text-light mb-0 my-4 my-md-0 copyright"></p>
        </div>
        <div class="col-sm-12 col-md-4 d-flex justify-content-center align-items-center">
            <a href="https://www.instagram.com/tc_cuts/" class="text-light instagram-link">
                @tc_cuts
            </a>
        </div>
    </div>
</footer>