<body>
    <style>
        main {
            font-family: 'Arial';
        }
        h1 {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 1rem;
        }
        .subtitle {
            text-align: center;
            font-size: 1.75rem;
            margin-bottom: 1.5rem;
        }
        h2 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    </style>
    <div class="main" >
        <h2>Appointment Details</h2>
        <p>Date: {{ date }}</p>
        {% for service in services %}
            <p>{{ service.title }}</p>
        {% endfor %}
        <p>Total: ${{ price }}</p>
        <h2>Customer Contact Information</h2>
        <p>First Name: {{ name }}</p>
        <p>Email: {{ email }}</p>
        <p>Phone: {{ phone }}</p>
    </div>
</body>